{% extends "base.html" %}
{% block title %}
<title>add association</title>
{% endblock %}

{% block body %}
<form action="/associations/add" id="add-association" method="post">
  <div class="form-row">
    <div class="col-md-4">

      <div class="form-group">
        <label for="stakeholder">stakeholder</label>
        <select class="form-control" id="stakeholder-id" name="stakeholder_id" required>
          {% for datum in data["stakeholders"] %}
            <option value="{{ datum.id }}">{{ datum.name }}</option>
          {% endfor %}
        </select>
      </div> <!-- div.form-group -->

      <div class="form-group">
        <label for="deliverable">deliverable</label>
        <select class="form-control" id="deliverable_id" name="deliverable_id" required>
          {% for datum in data["deliverables"] %}
            <option value="{{ datum.id }}">{{ datum.name }}</option>
          {% endfor %}
        </select>
      </div> <!-- div.form-group -->

      <button class="btn btn-outline-primary" type="submit">
        <img src="/static/svg/check.svg">
        add
      </button>

    </div> <!-- div.col-md-4 -->
  </div> <!-- div.form-row -->
</form>
{% endblock %}
