{% extends "base.html" %}
{% block title %}
<title>stakeholders</title>
{% endblock %}

{% block body %}
<div class="row">
  {% for datum in data %}
  <div class="col-md-4">

    <div class="card w-100">
      <div class="card-body">
        <h4 class="card-title">{{ datum.name }}</h4>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ datum.id }}</li>
          <li class="list-group-item">{{ datum.role }}</li>
          <li class="list-group-item">{{ datum.sentiment }}</li>
          <li class="list-group-item">{{ datum.power }} power</li>
          <li class="list-group-item">{{ datum.interest }} interest</li>
          <li class="list-group-item">
            {{ datum.approach }}
            <span approach="{{ datum.approach }}" class="badge badge-pill">!</span>
          </li>
        </ul>

        <form action="/stakeholders/update" id="update-stakeholder-{{ datum.id }}" method="get">
          <div class="form">
            <div class="form-group">
              <input class="form-control" name="id" type="text" value="{{ datum.id }}" readonly required hidden></input>
            </div> <!-- div.form-group -->

            <button class="btn btn-outline-warning" type="submit">
              <img src="/static/svg/pencil.svg">
              update
            </button>
          </div> <!-- div.form -->
        </form>

        <form action="/stakeholders/delete" id="delete-stakeholder-{{ datum.id }}" method="post">
          <div class="form">
            <div class="form-group">
              <input class="form-control" name="id" type="text" value="{{ datum.id }}" readonly required hidden></input>
            </div> <!-- div.form-group -->

            <button class="btn btn-outline-danger" type="submit">
              <img src="/static/svg/trash.svg">
              delete
            </button>
          </div> <!-- div.form -->
        </form>
      </div> <!-- div.card-body -->
    </div> <!-- div.card -->

  </div> <!-- div.col-md-4 -->
  {% endfor %}
</div> <!-- div.row -->
{% endblock %}
